<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/main.css">
    <script src="https://cdn.jsdelivr.net/npm/@vladmandic/face-api@1/dist/face-api.js"></script>

  <script defer src="/main.js"></script>
  <title>Profile</title>
</head>
<body>
   
  <nav>
   <div class="logo">
            <a href="/"> <img src="/logo.jpg" alt=""></a>
        </div>
        <div class="head">
            <a href="/">
                <h1>Face Detection</h1>
            </a>
        </div>
    <ul class="bar">
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </nav>
  
 
 
   <div class="info">
   <h4>{{user.name}}</h4>
     
   </div>
    <div class="container">
    </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</body>
</html>